In [1]:
## for widget

In [1]:
import pandas as pd
import numpy as np
import os
import seaborn as sns
import plotly.express as px
import plotly.graph_objs as go
from plotly.tools import FigureFactory as FF
import re
import os
from datetime import datetime
os.getcwd()
df = pd.DataFrame()

In [129]:
%%time
df = pd.read_csv('./mlb_inv.csv' )
# df.to_csv('./mlb_inv.csv', index=False)

Wall time: 398 ms

C:\Users\dscshap3808\Miniconda3\envs\siming\lib\site-packages\IPython\core\magics\execution.py:1321: DtypeWarning:

Columns (3,26,27) have mixed types.Specify dtype option on import or set low_memory=False.

In [130]:
df['kind'] = df['款号']+df['颜色']
df2 = df.groupby(['kind', '大类', '中类'])['在库数量'].sum().reset_index();df2
df[['货位', 'kind', '已占用箱位', '尺码']].merge(df2, on = 'kind', how = 'left')

            货位            kind  已占用箱位   尺码  大类  中类  在库数量
0      35-03-6  3AJPF021650BKS    5.0  00M  服装  夹克  3783
1      35-03-6  3AJPF021650CRS    8.0  00S  服装  夹克  6342
2      35-03-7  3AJPF021607LDL    NaN  00M  服装  夹克   707
3      35-03-7  3AJPF021607LDL    NaN  0XS  服装  夹克   707
4      35-03-7  3AJPF021650BKS    NaN  0XL  服装  夹克  3783
...        ...             ...    ...  ...  ..  ..   ...
57731   ZC-502    31TS0403150W    NaN   XL  服装  T恤  1920
57732   ZC-502    31TSC913150L    NaN  00S  服装  T恤   422
57733   ZC-502    31TSC913150W    NaN  00S  服装  T恤   332
57734   ZC-502    31TSK103150W    NaN    S  服装  T恤  3675
57735   ZC-502    31TSWX13150L    NaN  00M  服装  T恤    27

[57736 rows x 7 columns]

In [2]:
# plt1 = df2.groupby(['大类', '中类']).sum().reset_index()

# px.histogram(x = plt1['中类'], y = plt1['在库数量'], color = plt1['大类'])

In [ ]:
filt = plt1[plt1['在库数量'] > 400]['中类']
filt = list(filt)

In [158]:
# df[df['中类'].isin(filt)]

In [134]:
min([len(i) for i in df['货位'].str.split('-') ])

1

In [137]:
# [i.split('-') for i in df['货位']] 
df['loc_1'] = [i[0] for i in df['货位'].str.split('-')]
df['loc_2'] = [i[1] if len(i) >=2 else 0 for i in df['货位'].str.split('-')]
df['loc_3'] = [i[2] if len(i) >=3 else 0 for i in df['货位'].str.split('-')]
df['loc_4'] = [i[3] if len(i) >=4 else 0 for i in df['货位'].str.split('-')]
# df['货位'].str.split('-')[i]

In [78]:
t = 0
m = 0
for i in np.arange(0,57736):
    
    try:
        int(df['货位'][i])
        t += 1
    except:
        m += 1

In [79]:
[t,m]
# [1975, 55761]

[1975, 55761]

In [209]:
# from sklearn.ensemble import RandomForestClassifier
import tensorflow as tf
import keras
from keras.models import Sequential
from keras.layers import Dense, Activation
# train = df[['kind','loc_1','loc_2','loc_3','loc_4']].copy()
train = df[['kind','loc_1']]

In [213]:
trin = pd.get_dummies(train['kind'], columns=['kind'])
tar  = pd.get_dummies(train['loc_1'], columns=['loc_1'])

In [214]:
trin = np.asarray(trin).astype(int)
tar  = np.asarray(tar).astype(int)

In [218]:
model = Sequential()
model.add(Dense(15000, activation = 'sigmoid', input_dim = trin.shape[1]))
model.add(Dense(15000, activation = 'sigmoid'))
model.add(Dense(55, activation = 'tanh'))
model.compile(optimizer = 'adam', \
    loss='binary_crossentropy', metrics = ['accuracy'])

In [3]:
# model.summary()

In [1]:
# hist = model.fit(x = trin, y = tar, \
#     epochs = 10, batch_size=100, \
#         verbose=1, validation_split=.75, shuffle=True)